<div ng-controller="ClientCtrl" class="col-xs-4 form-group">
			<label ng-show="!isNew">Select client</label>
			<label ng-show="isNew">New client</label>
			 <input type="text"
				ng-model="clientSelected" typeahead-on-select="onSelect()"
				placeholder="search by name..."
				uib-typeahead="c as c.name for c in getClients($viewValue)"
				typeahead-loading="loadingClients" typeahead-no-results="noResults"
				class="form-control" ng-show="!isNew"> <i ng-show="loadingClients"
				class="glyphicon glyphicon-refresh"></i>
			<div ng-show="noResults">
				<i class="glyphicon glyphicon-remove"></i> No Results Found
			</div>
			<a class="btn btn-link btn-success" ng-click=createClient() ng-show="!isNew">create new</a>
			<input type="text" class="form-control" ng-show="isNew" ng-model="newClientName" placeholder="new client name" required="required">
			<a class="btn btn-sm btn-success" ng-click="saveClient()" ng-show="isNew">Save</a>
			<a class="btn btn-sm btn-danger" ng-click="isNew=false" ng-show="isNew">Cancel</a>
</div>