<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cloroform</title>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
<link href="https://bootswatch.com/spacelab/bootstrap.min.css"
	rel="stylesheet">
<link href="{{ url_for('static',filename='css/style.css') }}"
	rel="stylesheet">
</head>
<body>
		{% include "header.html" %} 
		{%block content%}
		{%endblock content%} 
		{% include "footer.html" %}
</body>

</html>
